*{
    padding: 0;
    margin: 0;
    
}
.nav-btn{
    margin-left: 10px;
}
.header-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}
.heading{
    font-size:60px ;
    font-weight: 900;
}
.head-inputbox{
    height: 55px;
    width: 380px;
   
}
.button-heading{
    height: 50px;
    width: 200px;

    
}
.navbar-section-and-head{
 background-image: url(./assets/demo-2.jpg);
   height: 100vh;
}
.box img{
    height: 300px;
}
.carousel-control-prev-icon{
    margin-left: -100px;
    
}
.card{
 background: linear-gradient(135deg, #0f172a, #1e1b4b);
}
.quesion-box{
    height: 80px;
    width: 1200px;
   
}
.ms-4{
    border: 1px solid rgb(40, 39, 39);
}
.accordion-button::after{
    display: none;
}
.footer-rows li{
    list-style: none;
    text-decoration: underline;
    color: #8ea39c;
    margin-top: 10px;
}
.card-images {
    transition: transform 0.3s ease;
}
.card-images:hover {
  transform: scale(1.1);
}